<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kopzhasar</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/css/fontAwesome.css">
    <link rel="stylesheet" href="~/css/hero-slider.css">
    <link rel="stylesheet" href="~/css/tooplate-style.css">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/slick/slick.css" />
    <!-- <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/> -->

    <script src="~/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

</head>

<body>
    
            @RenderBody()
           

            <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

            <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

            <script src="~/js/vendor/bootstrap.min.js"></script>

            <script src="~/js/plugins.js"></script>
            <script src="~/js/main.js"></script>

            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
            <script type="text/javascript" src="~/slick/slick.min.js"></script>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('.slick').slick({
                        prevArrow: '<div class="carousel__arrow carousel__prev" style="background-image: url(../img/arrow_vlevo.svg)"></div>',

                        nextArrow: '<div class="carousel__arrow carousel__next" style="background-image: url(../img/arrrow_pravo.svg)"></div>'
                    });
                    $('.slick1').slick({
                        slidesToShow: 4,
                        slidesToScroll: 4,
                        prevArrow: '<div class="carousel__arrow carousel__prev" style="background-image: url(../img/arrow_vlevo.svg)"></div>',

                        nextArrow: '<div class="carousel__arrow carousel__next" style="background-image: url(../img/arrrow_pravo.svg)"></div>'
                    });
                });
                $(document).ready(function () {
                    // navigation click actions
                    $('.scroll-link').on('click', function (event) {
                        event.preventDefault();
                        var sectionID = $(this).attr("data-id");
                        scrollToID('#' + sectionID, 750);
                    });
                    // scroll to top action
                    $('.scroll-top').on('click', function (event) {
                        event.preventDefault();
                        $('html, body').animate({ scrollTop: 0 }, 'slow');
                    });
                    // mobile nav toggle
                    $('#nav-toggle').on('click', function (event) {
                        event.preventDefault();
                        $('#main-nav').toggleClass("open");
                    });
                });
                // scroll function
                function scrollToID(id, speed) {
                    var offSet = 50;
                    var targetOffset = $(id).offset().top - offSet;
                    var mainNav = $('#main-nav');
                    $('html,body').animate({ scrollTop: targetOffset }, speed);
                    if (mainNav.hasClass("open")) {
                        mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                        mainNav.removeClass("open");
                    }
                }
                if (typeof console === "undefined") {
                    console = {
                        log: function () { }
                    };
                }
            </script>
</body>
</html>