
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var isAuthenticated = Context.Request.Cookies["IsAuthenticated"] == "true";
    var email = Context.Request.Cookies["email"];

    ViewData["Title"] = "Home Page";
}

@model Nurast.Models.HomeViewModel






<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top">
                    <div class="logo"></div>
                </a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-top">Басты бет</a></li>
                    <li><a href="#" class="scroll-link" data-id="about">Жаңалықтар</a></li>
                    <li><a href="#" class="scroll-link" data-id="portfolio">Вакансиялар</a></li>
                    <li><a href="#" class="scroll-link" data-id="blog">Жоспарлар</a></li>
                    <li><a asp-controller="Home" asp-action="Basharushi">Басқарушы</a></li>
                    @if (!isAuthenticated)
                    {
                        <li><a asp-controller="Home" asp-action="Login">Кіру</a></li>

                    }
                    else
                    {
                        <li><a asp-controller="Home" asp-action="Profile">Профиль</a></li>

                    }

                </ul>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
<section class="cd-hero">
    <ul class="cd-hero-slider autoplay">
        <!--
            <ul class="cd-hero-slider autoplay"> for slider auto play
            <ul class="cd-hero-slider"> for disabled auto play
        -->
        <li class="selected first-slide">
            <div class="cd-full-width">
                <div class="tm-slide-content-div slide-caption">
                    <span></span>
                    <h2>Көпжасар ауылының халықпен жергілікті әкімшілік арасында байланыс орнату</h2>
                    <p>1963-1997 жылдары «Жаңаталап» қой кеңшарының орталығы болды. Оның негізінде Көпжасарда және округтегі Салтанат, Саралжын, Үштас ауылдарында «Көпжасар» серіктестігі мен 31 шаруа қожалығы құрылған.</p>
                    <div class="primary-button">
                        <a href="#" class="scroll-link" data-id="about">Көбірек Біліңіз</a>
                    </div>
                </div>
            </div> <!-- .cd-full-width -->
        </li>

        <li class="second-slide">
            <div class="cd-full-width">
                <div class="tm-slide-content-div slide-caption">
                    <span></span>
                    <h2>Көпжасар ауылының халықпен жергілікті әкімшілік арасында байланыс орнату</h2>
                    <p>Аудан орталығы - Жаңақала ауылынан шығысқа қарай 12 км-дей жерде, Жалтыркөл көлінің оңтүстігіндегі еркекшөп, теріскен басым әр түрлі шөптер өскен сортаңды-сұр құмдақ топырақты, шөлді белдемде орналасқан.</p>
                    <div class="primary-button">
                        <a href="#">Толығырақ</a>
                    </div>
                </div>
            </div> <!-- .cd-full-width -->
        </li>

        <li class="third-slide">
            <div class="cd-full-width">
                <div class="tm-slide-content-div slide-caption">
                    <span></span>
                    <h2>Көпжасар ауылының халықпен жергілікті әкімшілік арасында байланыс орнату</h2>
                    <p>Орта, 2 бастауыш мектептер, мәдениет үйі, дәрігерлік амбулатория, фельдшерлік-акушерлік пункт, т.б. мекемелер бар. Тұрғындары елді мекендермен автомобиль жолы арқылы қатынасады</p>
                    <div class="primary-button">
                        <a href="#">Мәліметтерді Қарау</a>
                    </div>
                </div>
            </div> <!-- .cd-full-width -->
        </li>
    </ul> <!-- .cd-hero-slider -->

    <div class="cd-slider-nav">
        <nav>
            <span class="cd-marker item-1"></span>

            <ul>
                <li class="selected"><a href="#0"></a></li>
                <li><a href="#0"></a></li>
                <li><a href="#0"></a></li>
            </ul>
        </nav>
    </div> <!-- .cd-slider-nav -->
</section> <!-- .cd-hero -->

<div id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>Жаңалықтар</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="slick1">
               
                @foreach (var item in Model.News)
                {
                    <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item second-service">
                        <div class="icon"></div>
                            <h4>@item.Value.title</h4>
                            <p>@item.Value.descr</p>
                        </div>
					</div>
                }

                
                
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item third-service">
                        <div class="icon"></div>
                        <h4>Good Profit</h4>
                        <p>Biodiesel schltz suculents phone cliche ramps snackwave coloring book tumeric poke, typewriter.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <h4>Open To Public</h4>
                        <p>Biodiesel schltz suculents phone cliche ramps snackwave coloring book tumeric poke, typewriter.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item first-service">
                        <div class="icon"></div>
                        <h4>Easy Customizations</h4>
                        <p>Meteor is free HTML website template by Tooplate. Feel free to use this layout for your project.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item first-service">
                        <div class="icon"></div>
                        <h4>Easy Customizations</h4>
                        <p>Meteor is free HTML website template by Tooplate. Feel free to use this layout for your project.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item second-service">
                        <div class="icon"></div>
                        <h4>Creative Ideas</h4>
                        <p>Biodiesel schltz suculents phone cliche ramps snackwave coloring book tumeric poke, typewriter.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item third-service">
                        <div class="icon"></div>
                        <h4>Good Profit</h4>
                        <p>Biodiesel schltz suculents phone cliche ramps snackwave coloring book tumeric poke, typewriter.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item fourth-service">
                        <div class="icon"></div>
                        <h4>Open To Public</h4>
                        <p>Biodiesel schltz suculents phone cliche ramps snackwave coloring book tumeric poke, typewriter.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="what-we-do">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-text">
                    <h4>Біз туралы</h4>
                    <p>Көпжасар ауылы әкімдігінің сайтына қош келдіңіздер! Біз ауылымызды күн сайын көркейту үшін жұмыс істейтін кәсіби мамандар командасымыз. Біз тұрғындардың жайлылығына, қауіпсіздігіне және дамуына ықпал ететін әртүрлі қызметтер мен инфрақұрылымды ұсына отырып, қолайлы және прогрессивті өмір сүру ортасын құруға тырысамыз.<br><br>Біздің веб-сайтта сіз біздің жобаларымыз бен бастамаларымыз, әкімшілік ұсынатын қызметтер туралы ақпаратты, сондай-ақ кері байланыс үшін байланыс ақпаратын таба аласыз. Біз өз іс-әрекеттерімізде ашықтық пен ашықтықты бағалаймыз және шешім қабылдау кезінде олардың пікірлері мен қажеттіліктерін ескере отырып, ауыл тұрғындарымен тығыз қарым-қатынаста болуға ұмтыламыз.</p>
                    <ul>
                        <li>
                            <div class="white-button">
                                <a href="#" class="scroll-link" data-id="portfolio">Көбірек Біліңіз</a>
                            </div>
                        </li>
                        <li>
                            <div class="primary-button">
                                <a href="#">Тіркелу</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="img/Akim2.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<div id="portfolio" class="page-section">
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Вакансиялар</h4>
                        <div class="line-dec"></div>
                    </div>
                </div>
            </div>
            <div class="projects-holder-3">
                <div class="filter-categories">
                    <!-- <ul class="project-filter">
                        <li class="filter" data-filter="all"><span>All</span></li>
                        <li class="filter" data-filter="nature"><span>Nature</span></li>
                        <li class="filter" data-filter="workspace"><span>Workspace</span></li>
                        <li class="filter" data-filter="city"><span>City</span></li>
                        <li class="filter" data-filter="technology"><span>Technology</span></li>
                    </ul> -->
                </div>
                <div id="slider" class="slick">

                                            @{
                    int co = 0;
                    int itemsPerPage = 6;
                    int totalPages = (Model.Vacancies.Count + itemsPerPage - 1) / itemsPerPage;
                }

                @for (int i = 0; i < totalPages; i++)
                {
                    <div class="projects-holder">
                        <div class="row">
                            @foreach (var item in Model.Vacancies.Skip(i * itemsPerPage).Take(itemsPerPage))
                            {
                                <div class="col-md-3 col-sm-6 project-item mix workspace">
                                    <div class="thumb">
                                        <a class="image ff" href="@Url.Action("Privacy", "Home", new { key = item.Key })">
                                            <img src="img/portfolio_01.jpg">
                                            <div class="overlay">@item.Value.title</div>
                                        </a>
                                    </div>
                                </div>
                                
                            }
                        </div>
                    </div>
                }
                    <div class="projects-holder">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 project-item mix workspace">
                                <div class="thumb">
                                    <div class="image">
                                        <img src="img/portfolio_01.jpg">
                                    </div>
                                    <div class="hover-effect">
                                        <a href="img/portfolio_big_01.jpg"></a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 project-item mix workspace">
                                <div class="thumb">
                                    <div class="image">
                                        <img src="img/portfolio_02.jpg">
                                    </div>
                                    <div class="hover-effect">
                                        <a href="img/portfolio_big_02.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 project-item mix technology">
                                <div class="thumb">
                                    <div class="image">
                                        <img src="img/portfolio_03.jpg">
                                    </div>
                                    <div class="hover-effect">
                                        <a href="img/portfolio_big_03.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 project-item mix city">
                                <div class="thumb">
                                    <div class="image">
                                        <img src="img/portfolio_04.jpg">
                                    </div>
                                    <div class="hover-effect">
                                        <a href="img/portfolio_big_04.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 project-item mix nature">
                                <div class="thumb">
                                    <div class="image">
                                        <img src="img/portfolio_05.jpg">
                                    </div>
                                    <div class="hover-effect">
                                        <a href="img/portfolio_big_05.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 project-item mix technology">
                                <div class="thumb">
                                    <div class="image">
                                        <img src="img/portfolio_06.jpg">
                                    </div>
                                    <div class="hover-effect">
                                        <a href="img/portfolio_big_06.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 project-item mix workspace">
                                <div class="thumb">
                                    <div class="image">
                                        <img src="img/portfolio_07.jpg">
                                    </div>
                                    <div class="hover-effect">
                                        <a href="img/portfolio_big_07.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 project-item mix city">
                                <div class="thumb">
                                    <div class="image">
                                        <img src="img/portfolio_08.jpg">
                                    </div>
                                    <div class="hover-effect">
                                        <a href="img/portfolio_big_08.jpg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="blog" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>Жоспарлар</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 blog_2">
                <div class="blog-item b1">
                    <div class="thumb ">
                        <img class="img_zhergilikti_onim" src="img/zhergilikti_onim.jpg" alt="">
                        <div class="text-content">
                            <h4>Жергілікті өнімдерді дамыту</h4>
                            <span>Posted: <em>Арман</em>  /  Date: <em>11 Aug 2024</em>  /  Category: <em>Өндіріс</em></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-item second-blog b2">
                    <div class="thumb ">
                        <img src="img/blog_02.jpg" alt="">
                        <div class="text-content">
                            <h4>Білім мен мәдениетті дамыту</h4>
                            <span>Posted: <em>Айдос</em>  /  Date: <em>24 Jul 2024</em>  /  Category: <em>Мәдениет</em></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-item b3">
                    <div class="thumb">
                        <img src="img/eco.jpg" alt="">
                        <div class="text-content">
                            <h4>Экологияны қорғау</h4>
                            <span>Posted: <em>Әділхан</em>  /  Date: <em>16 Jul 2024</em>  /  Category: <em>Экология</em></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pop">
                    <span>✖</span>
                    <p>
                        Жергілікті өнімді дамыту - бұл жергілікті өндірушілер мен фермерлерді қолдауға, сондай-ақ қала тұрғындары үшін жергілікті өнімдердің қолжетімділігі мен әртүрлілігін арттыруға бағытталған стратегия. Мұнда толығырақ түсініктеме берілген:

                        Жергілікті фермерлерді қолдау: қала әкімшілігі жергілікті фермерлерге қаржылық, техникалық және ақпараттық қолдау көрсетуге бағытталған бағдарламалар мен бастамаларды құра алады. Бұған субсидиялар беру, ауыл шаруашылығының заманауи әдістерін үйрету, маркетинг және сату бойынша кеңес беру кіруі мүмкін.
                        Жергілікті нарықтарды дамыту: әкімшілік фермерлер өз өнімдерін тікелей тұтынушыларға сата алатын жергілікті нарықтардың дамуын қолдай алады. Бұл базарларға орын беруді, жарнамалық іс-шаралар мен инфрақұрылымды дамыту бағдарламаларын ұйымдастыруды қамтуы мүмкін.
                    </p>
                </div>
                <div class="pop2">
                    <span>✖</span>
                    <p>
                        Қалада білім мен мәдениетті дамыту оның тұрғындарының өмір сүру сапасын жақсарту және қолайлы және тартымды орта құру үшін маңызды. Міне бірнеше нақты идеялар:

                        Білім беру мекемелерін жаңғырту: инфрақұрылымды жақсартуды, оқу материалдарын жаңартуды және жаңа технологияларды енгізуді қоса алғанда, заманауи оқу жағдайларын қамтамасыз ету үшін мектептерді, колледждерді және университеттерді жаңарту және жаңарту.
                        Қосымша білім беруді дамыту: ғылым, өнер, технология және спорт сияқты әртүрлі салаларда балалар мен ересектерге арналған қосымша білім беру бағдарламаларын құру, соның ішінде үйірмелер, шеберлік сыныптары және жазғы мектептер ұйымдастыру.
                    </p>
                </div>
                <div class="pop3">
                    <span>✖</span>
                    <p>
                        Экологиялық бастамалар қала әкімшілігінің тұрғындарға арналған жоспарларының маңызды құрамдас бөлігі бола алады. Міне, кейбір нақты идеялар:

                        Қалдықтарды кәдеге жарату: қалдықтарды бөлек жинауды қоса алғанда, қалдықтарды кәдеге жарату жөніндегі бағдарламаларды енгізу, қайта шикізатты (қағаз, пластик, шыны) қабылдау пункттерін ұйымдастыру және органикалық қалдықтарды компостқа қайта өңдеу жөніндегі бағдарламаларды кеңейту.
                        Энергия тиімділігі: қалада энергия тұтынуды азайту бағдарламалары, соның ішінде қоғамдық ғимараттар мен инфрақұрылымдарды энергия тиімділігін арттыру үшін жаңарту және күн мен жел сияқты баламалы энергия көздерін пайдалануды ынталандыру.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="1752">0</div>
                    <span>Халық саны</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="863">0</div>
                    <span>Ер адамдар</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="889">0</div>
                    <span>Әйел адамдар</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="452">0</div>
                    <span>Жасөспірімдер</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="contact" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>Contact Us</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="map">
                    <img src="img/kop_ss.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <form id="contact" action="" method="post">
                        <div class="col-md-6">
                            <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="btn">Жіберу</button>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="copyright-text">
                    <p>Copyright &copy; 2017 Company Name - NURSAT</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>