@{
    Layout = "~/Views/Shared/_Layout_reg_log.cshtml";
}
@{
    ViewData["Title"] = "Register";
}


<form asp-action="Register" method="post">
    @* <div>
        <label>Email</label>
        <input type="email" name="email" required />
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" required />
    </div>
    <div>
        <button type="submit">Register</button>
    </div> *@
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Register</h1>
            </div>

            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="email" id="login-name" name="email" required>
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="password" id="login-pass" name="password" required>
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <button class="btn btn-primary btn-large btn-block"  type="submit">Register</button>
                <a asp-controller="Home" asp-action="Login" class="login-link">Сізде аккаунт барма?</a>
            </div>
        </div>
    </div>
</form>
